*{
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
    color: #000000;
}
$color-header: #000000;
$color-button: #1ED500;
$color-adl: #1ED400;
$color-white: #FFFFFF;
$color-bgr: #E5E5E5;
$color-text: #333333;
$font-roboto: 'Roboto Slab', serif;
$font-lato: 'Lato', sans-serif;
$font-lora: 'Lora', serif;
$font-quic: 'Quicksand', sans-serif;

@mixin font-face($font-family,$font-weight,$font-size,$line-height){
  font-family: $font-family;
  font-style: normal;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;

}

.header-bg{
  background-image: url("./img/derek-thomson-TWoL-QCZubY-unsplash 4.jpg");
  background-repeat:no-repeat;
  background-position: 50% 50%;
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 32px 0;
  background: rgba($color-header, 0.85);
  &__logo{
    color: $color-white;
  }
  &__menu{
    a{
      color: $color-white;
    }
  }
  &__social{
    svg{fill: $color-white}
  }
}
.lang-bar{
  display: flex;
  gap: .21vw;
  
}
.social{
  ul{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.98vw;
 }
}
.logo{
  @include font-face($font-roboto, 700, 32px, 32px);
}
.menu{
    ul{
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2.92vw;
    }
    a{
      @include font-face($font-lato, 500, 22px, 26px);
      
    }
}
.cta-conteiner{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  &__inner{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1.5vw;
    gap: 1vw;
    background: rgba($color-header, 0.85);
    margin-top: 9.42vw;
  }
  &__title{
    @include font-face($font-lora, 700, 84px, 100px);
    text-align: center;
    text-transform: uppercase;
    color: $color-white;
  }
  &__description{
    @include font-face($font-lato, 400, 24px, 29px);
    color: $color-white;
  }
  &__button{
    @include font-face($font-lato, 900, 16px, 19px);
    width: 18.94vw;
    height: 3.9vw;
  }
}
.button{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; 
  color: $color-white;
  background: $color-button;
}
.button--follow{
  @include font-face($font-quic, 700, 20px, 18px);
  width: 18.94vw;
  height: 3.9vw;
}
.airplane{
  position: relative;
  opacity: 0.85;
  margin-top: 72px;
  margin-bottom: 115px;
}
.about{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 7.5vw;
  padding-bottom: 6.46vw;
  gap: 32px;

  &__description{
    @include font-face($font-quic, 500, 20px, 32px);
    max-width: 1066px;
    color: $color-text;
  }
}
.title{
  @include font-face($font-roboto, 700, 56px, 74px);
  text-align: center;
  text-transform: uppercase;
  color: $color-text;
}
.title--white{
  color: $color-white;
}
.advantage-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 100%;
  margin-top: 32px;
}
.list-box{
  display: grid;
  grid-template-rows: 33% 0% 1fr;
  align-items: center;
  justify-items: center;
  &__number{
  @include font-face($font-roboto, 700, 144px, 190px);
  text-transform: uppercase;
  color: $color-adl;
  }
  &__description{
    @include font-face($font-quic, 400, 40px, 32px);
    text-align: center;
    color: $color-text;
  }
  
}
.infoguide-bg{
  background-image: url("./img/ken-cheung-VbLTNceBTFE-unsplash\ 1.jpg");
  background-repeat:no-repeat;
  background-position: 50% 50%;
}
.infoguide{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 52px 0;
  gap: 5px;

  &__country-name{
    @include font-face($font-roboto, 700, 144px, 144px);
    text-transform: uppercase;
    color: $color-white;
  }
  &__date{
    @include font-face($font-quic, 500, 24px, 18px);
    color: $color-white;
    max-height: 75%;
    margin-bottom: 32px;
  }
  &__description{
    @include font-face($font-quic, 400, 24px, 32px);
    max-width: 1066px;
    text-align: center;
    p{color: $color-white;}
  }
  &__line{
    margin-bottom: 40px;
  }
  &__discount{
    display: flex;
    @include font-face($font-quic, 500, 28px, 32px);
    max-height: 114%;
    text-transform: uppercase;
    p{color: $color-white;}
    margin-bottom: 24px;
  }
  &__button{
    margin-bottom: 50px;
  }
  }
  


.baner{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0;
    
}
.box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}
.box--indent{
  flex-wrap: nowrap;
  max-width: 1920px;
  gap: 112px;
  img{
    max-width: 100%;
    height: auto;
  }
} 

.box-title{
  position: relative;
  @include font-face($font-roboto, 400, 18px, 18px);
  text-transform: uppercase;
  top: 35px;
  span{
  display: inline-flexbox;
  background-color: rgba($color-header, 0.85);
  color: $color-white;
  padding: 5px 8px;
  }
}
.title-insta{
  @include font-face($font-quic, 500, 14px, 18px);
  text-align: center;
  padding: 8px 0;
  
}
.media-photo__box{
  padding: 50px 0;
}

.media-video__bg{
  background-image: url("./img/background\ video.jpg");
  background-repeat:no-repeat;
  background-position: 50% 50%;
}
.media-video__title{
  padding: 32px 0;
}
.play-button{
  position: relative;
  bottom: 9.91vw;
  text-align: center;
  
}

.media-video__item{
    display: inline-block;
  
    img{
    transition: 1s;
    }
    img:hover{
    transform: scale(1.2);
  }
 
}

.footer-bg{
  background-image: url("./img/imgMountains.svg");
background-repeat:no-repeat;
background-size: cover; 
}
.footer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 12vw;
  
  &__logo{
    color: $color-text;
  }
  &__menu{
    a{
      color: $color-text;
    }
  }
  &__social{
    svg{fill: $color-text}
  }
}

